<!DOCTYPE html>
<html>
  <body>
    <!--en este apartado de codigo se imprimen los datos
    obtenidos de la API-->
    <div class="container">
    <h2>API Rick and Morty Modificada:</h2>
    <div class="row">
      <!--aqui se genera la instancia de ts con el arreglo personajes-->
        <div class="col mb-5" *ngFor="let personaje of personajes">
          <div >
            <!--le mandamos los parametros y se imprime lo requerido-->
            <img class="card-img-top" src={{personaje.image}} alt="sad">
          </div>
            <p>Nombre:</p>
            <div class="estilogg">
              <!--le mandamos los parametros y se imprime lo requerido-->
              <h5>{{personaje.name}}</h5>
            </div>
            <p>Estado:</p>
            <div class="estilogg">
              <!--le mandamos los parametros y se imprime lo requerido-->
              <h5>{{personaje.status}}</h5>
            </div>
            <p>Especie:</p>
            <div class="estilogg">
              <!--le mandamos los parametros y se imprime lo requerido-->
              <h5>{{personaje.species}}</h5>
            </div>
        </div>
      </div>
    </div>
  </body>
</html>
